*, html,body{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    list-style: none;
    font-family: Titillium;
}
.container{
    margin:0 auto;
    max-width: 1100px;
    width:100%;
}
header{
    background-color: white;
    width: 100%;
    position: fixed;
    top:0px;
    height: 90px;
    z-index: 200;
}
.header-container{
    width: 1102px;
    margin:0 auto;
}
section{
    max-width:1100px;
    width:100%;
}
img{
    margin-top:20px;
    width:110px;
    height:70px; 
    z-index:200;
}
nav{
    display: inline-block;
}
header ul{
    float:right; 
    display:flex;
    margin-top:-66px;
    margin-right:auto;
    margin-left:667px;
}
header a{
  padding:30px;
  text-decoration-line:none ;
  color:black;
  
}
.about{
    padding-top:230px;
}
h1{
    font-size: 4rem;
    height:20px;
}
h2{
    font-size:4rem;
}
.wa{
    margin-top:130px;
    font-size: 4rem;

}
.text{
    width: 35vw;
    margin-top: 30px;

}
.firstvid{
    margin-left:570px;
    margin-top:-340px;
    width:530px;
    height:310px;
}
.sendbutton{ 
    background-color:rgb(255,230,0) ;
    width:140px;
    height:30px;
    margin-top:20px;
    margin-left:0px;
}
.about a{
    text-decoration-line:none ;  
    color:black;
}
.about li{
    padding:6px 8px;
}
.logocontainer{
    padding-top:240px;
}
.logoimages{
    width:142px;
    height:105px;
    margin-left:45px;
}
.logoimg1{
    margin:0;
    padding:0;
}
.blog{
    margin-top:90px;
    padding-top:90px;
}
.blogcontainer{
    height:625px;
}
.blog-article{
    display:inline-block;
    padding-top:70px;
}
iframe{
    height: 270px;
    width:330px; 
    margin-left:50px; 
    
}
.blog-article-discription{
    width:330px;
    margin-left:51px;
    margin-top:18px;
}
.blog-article-title{
    margin-left:52px;
    margin-top:18px;

}
.blog-article-date{
    padding-left:15px;
    padding-top:12px; 
    height:30px;
    width:120px;
    margin-left:10px;
}
.lust-blog-article-date{
    margin-left:60px;
}
.contactus{
    margin-top:225px;
    padding-top:75px;
}
.contactus-container{
    margin-left:23%;
}
.contactus-container h3{
    font-size: 2rem;
    margin-top:100px;
}
input{
    display: block;
}
.SendUsM{
    margin-left:260px;
    margin-top:125px;
    font-size:2rem;
}
form{
    padding-top: 40px;
}
.formelement{ 
    margin-top:25px;
    width:200px;
    height: 20px;
    font-size: 1rem;
    border-style: none;
    color: black;

}
.formelement::placeholder{
    color:black
}
.bottombutt{
    margin-top:100px;
}
.contacts{
    padding-top:100px;
}
.contacts-container{
    margin-left:23%;
}
.contacts-article{
    display:inline-block;
}
.contactimg{
    margin-left:115px;
}
.avenue-contactimg{
    margin-left:45px;
}
.phone-contactimg{
    margin-left:98px;
}
.contact-article-discription{
    margin-left:58px;
    margin-top:18px;

}
.first-con-art-div{
    height:20px;
    margin-left:0px;
}
.socialnetworks-img{
    margin-top:200px;
    margin-left:40%;
    width:240px;
    height:35px;
}
footer{
    width:100vw;
    height:150px;
    background-color: rgb(30,30,30);
}
.footerimg{
    margin-left:22px;
    margin-top:20px;
}
.footertext{
    margin-left:160px;
    margin-top:-65px;
    color:white;
}
.footerbtt{
    color:white;
    text-decoration-line:none;
    margin-left:900px;
    margin-top:-20px;
    display:block;
}
.contactimg{
    height:35px;
    width:30px;
}
.footer-container{
    margin:0 auto;
    max-width:1100px;
    width:100%;
    height:100px;
}
.logofooterimg{
    height:130px;
    width:150px;
    margin-top:0px;
    margin-left:-10px;
}
.firstelement{
    margin-left:0px;
}

